.container {
    margin: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
    "img form";
    height: 100vh;
}

.img__container {
    grid-area: img;
    display: flex;
    align-items: center;
    background: rgb(2,0,36);
    background: linear-gradient(140deg, rgba(2,0,36,1) 0%, rgba(29,21,71,1) 35%, rgba(33,255,150,1) 100%);
}

.form__container {
    grid-area: form;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image {
    max-width: 100%;
}